body {
    background-image: url("../images/car.jpg");   
}
.brand-logo {
    padding-left: 2% !important;
}
.nav-links li a {
    padding: auto 5% !important;
}
.menu-row {
    padding: 1% 1%;
    font-size: 17px;
}
.why-register {
    padding-bottom: 3% !important;
}
/* Removing default styling of input field and adding border */
input[type="email"],input[type="password"] {
    border-bottom: none !important;
    box-shadow: none !important;
    border: 1px solid #d1caca !important;  
    margin-top: 3% !important;
    border-radius: 5px !important;
    padding-right: 15% !important;
    padding-left: 3% !important;
}
input[type="email"]:focus,textarea:focus {
    box-shadow: none !important;
}
.my-form {
    border: 2px solid rgb(179, 173, 173);
    margin: 5% !important;
    padding-left: 27% !important;
 
}
#welcome-div {
    padding: 2%;
    display: none;
}